<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Recommendation</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Find Recipes by Ingredients</h1>
      <div class="form-container">
        <form action="/recommend" method="post">
          <textarea
            id="ingredients"
            name="ingredients"
            rows="4"
            placeholder="Enter "
            required
          ></textarea>
          <button type="submit">Find Recipes</button>
        </form>
      </div>
    </div>
  </body>
</html>
